{
    "presets": ["@babel/preset-react", "@babel/preset-typescript"],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ]
    ]
}
